<div class="header-wrapper">
    <img src={{flags.svg}} alt="country-flag" width="35px" />
    <h1>{{name.common}}</h1>
</div>
<ul class="characteristic">
    <li class="characteristic__item">
        <p><b>Capital:</b> {{capital}}</p>
    </li>
    <li class="characteristic__item">
        <p><b>Population:</b> {{population}}</p>
    </li>
    <li class="characteristic__item">
        <p><b>Languages:</b> {{languages}}</p>
    </li>
</ul>